###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
indent_style = space
indent_size = 2

# HTML
[*.html]
insert_final_newline = true
